html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: contents; 
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 30%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(11, 158, 158);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content-bottom1 {
    background-color: gray;
    min-height: 300px;
    padding: 20px;
}
.content-bottom2 {
    background-color:azure;
    min-height: 300px;
    padding: 20px;
}
.form {
    /* Apenas para centralizar o form na pagina */ 
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulario */ 
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em; 
}

.form .div + .div {
    margin-top: 1em;
}

.label {
    color: #FFF;
    text-align: right;
  }

.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}